h1 {
    font-size: 16px;
    font-weight: bold;
}

.actions-container {
    padding: 1vw;
}

.update-client {
    position: relative;
}

.client-search {
    background-color: #ecf0f1;
    position: absolute;
    left: 75px;
    width: 250px;
    height: 15px;
    border: none;
    border-bottom: 1px solid lightgrey;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
}

.client-names {
    background-color: white;
    position: absolute;
    left: 75px;
    width: 250px;
    max-height: 80vh;
    border: 1px solid lightgrey;
    font-family: inherit;
    font-size: inherit;
    overflow: scroll;
}

.client-name {
    margin: 5px;
    background-color: white;
}

.client-name:hover {
    background-color: #0a1612;
    color: white;
    cursor: pointer;
}

.update {
    width: 40vw;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 1vw;
}

.transfer-owner, .send-email, .sale {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1vw;
    align-items: center;
}

.owner-menu, .emailType-menu, .filler {
    width: 200px;
    height: 24px;
    background-color: #ecf0f1;
    border: none;
    border-bottom: 1px solid lightgrey;
    font-family: inherit;
    font-size: inherit;
}

.sale-made {
    width: 200px;
    height: 24px;
    background-color: #F7CE3E;
    color: #0a1612;
    display: grid;
    margin-bottom: 1px;
    justify-content: center;
    align-content: center;
}

.update > div > button {
    color: #F7CE3E;
    font-weight: bold;
    font-size: 14px;
    border: none;
    background-color: #ecf0f1;
    cursor: pointer;
    text-align: left;
}

.add {
    width: 40vw;
    display: grid;
}

.add-input {
    margin: 0.5vw;
    display: grid;
    grid-template-columns: 2fr 5fr;
    align-items: center;
    justify-content: left;
}

.add-input > span {
    width: 150px;
    height: 18px;
}

.add-input > input {
    width: 200px;
    height: 18px;
    background-color: #ecf0f1;
    border: none;
    border-bottom: 1px solid lightgrey;
    font-family: inherit;
    font-size: inherit;
}

.add > button {
    width: 200px;
    height: 36px;
    color: #0a1612;
    font-weight: bold;
    font-size: 14px;
    border: none;
    background-color: #F7CE3E;
    cursor: pointer;
    margin-left: 100px;
}

@media only screen and (max-width: 720px) {
    .update {
        width: 100vw;
    }
    .client-search {
        width: 40vw;
    }
    .owner-menu, .emailType-menu, .sale-made {
        width: 30vw;
    }
    .update > div > button {
        width: 20vw;
    }
    .add {
        width: 75vw;
    }
    .add-input > input {
        width: 30vw;
    }
}