.analytics-container {
    display: grid;
    grid-template-rows: 1fr 5fr;
    height: 90vh;
}

.badges-container {
    margin: 1vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 20vh;
}

#new-clients {
    background-color: #2ECC71;
}

#emails-sent {
    background-color: #3498DB;
}

#outstanding-clients {
    background-color: #E74C3C;
}

#hot-country {
    background-color: #F1C40F;
}

.badge {
    display: grid;
    grid-template-areas:
    "i d"
    "i ds";
    padding-right: 7vw;
}

.icon {
    grid-area: i;
    border-radius: 50%;
    height: 6vw;
    width: 6vw;
    display: grid;
    justify-content: center;
    align-content: center;
    color: white;
    font-size: 3.5vw;
    box-shadow: 2px 2px 1px slategrey;
    margin-right: 1vw;
}

.badge-data {
    grid-area: d;
    background-color: #ecf0f1;
    display: grid;
    font-weight: bold;
    font-size: 3vw;
}

.badge-description {
    grid-area: ds;
    font-weight: bold;
    font-size: 18px;
}

.charts {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "t t t t t b b b b b b b b b b"
    "s s s s s s s s s c c c c c c";
    height: 60vh;
}

#top-employees {
    grid-area: t;
}

#sales-by {
    grid-area: b;
}

#sales-since {
    grid-area: s;
}

#client-acquisition {
    grid-area: c;
}

.chart-header {
    font-weight: bold;
    margin-left: 1vw;
}

@media only screen and (max-width: 720px) {
    .icon {
        height: 40px;
        width: 40px;
        font-size: 22px;

    }
    .badge {
        padding-right: 1vw;
        grid-template-rows: repeat(2, 1fr);
    }
    .badge-data{
        font-size: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .badge-description {
        font-size: 10px;
    }
    .charts {
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "t"
        "b"
        "s"
        "c";
    }
    #top-employees, #sales-by, #sales-since, #client-acquisition {
        height: 250px;
    }
}