.home-container {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.message {
    display: grid;
    justify-content: center;
    align-content: flex-end;
    padding-bottom: 2vw;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding-top: 6vw;
}

.go-to-clients, .go-to-actions, .go-to-analytics {
    display: grid;
    height: 200px;
    width: 320px;
    color: white;
    justify-content: left;
    align-content: center;
    font-size: 36px;
    font-weight: bolder;
    padding: 1vw;
}

.go-to-clients {
    justify-self: right;
    background-color: #F7CE3E;
}

.go-to-actions {
    justify-self: center;
    background-color: #0a1612;
}

.go-to-analytics {
    justify-self: left;
    background-color: grey;
}

@media only screen and (max-width: 1000px) {
    .options {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        padding-top: 1vw;
    }
    .home-container {
        grid-template-rows: 1fr;
    }
    .go-to-clients, .go-to-actions, .go-to-analytics {
        height: 150px;
        width: 240px;
        font-size: 24px;
    }
    .message {
        font-size: 24px;
        align-content: center;
    }
}